body {
  margin: 0;
  font-family: monospace;
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  width: 600px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.header {
  background-color: #444;
  display: flex;
  align-items: center;
  padding: 6px;
}

.buttons {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5f57;
  display: flex;
  margin-right: 8px;
}

.red, .yellow, .green {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: auto;
}

.title {
  font-size: 14px;
  color: #fff;
}

.content {
  padding: 10px;
  white-space: pre-line;
}

.command {
  color: #78dce8;
}
